.form {
    padding-top: 7px;
    padding-left: 15px
}

.questionSpace {
    padding-top: 0px;

}

.tab {
    width: 90%;
}

.column {
    width: 30px;
}

.text {
    text-align: center;
}

.addImg {
    padding-top: 15px;
    padding-left: 160px;
}